.box-order {
  &__content {
    min-height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--stroke-neutral-lighter);
    border-radius: 20px;
    padding: 48px;
    background-color: var(--surface-lighter);
    background-image: url("../img/box-order/1.png"), url("../img/box-order/2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, top right;
  }
  &__wrapp-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    &.none {
      display: none;
    }
  }
  &__title {
    max-width: 410px;
  }
  &__wrapp_form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
  &__form {
    max-width: 350px;
    display: flex;
    border: 2px solid var(--stroke-neutral-lighter);
    //--stroke-neutral-lighter
    border-radius: 12px;
    padding: 4px;
    background-color: var(--background-normal);
    transition: border-color 0.4s ease-in-out;
    &:has(.box-order__label>input:focus) {
      border-color: var(--stroke-accent-darker);
    }
    &:has(.box-order__label>input.error) {
      border-color: var(--stroke-negative-dark);
    }
    &:has(.box-order__label>input.valid) {
      border-color: var(--stroke-positive-default);
    }
  }
  &__label {
    flex: 1;
    input {
      min-width: 240px;
      padding: 10px 12px;
      border: none;
      background-color: transparent;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: var(--text-neutral-header);
      &:focus,&:focus-visible {
        outline: none;
      }
    }
  }
  &__btn {
    display: flex;
    border-radius: 8px;
    padding: 10px 12px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: var(--text-neutral-lightest);
    background-color: var(--component-accent-primary-default);
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      background-color: var(--component-accent-primary-hover);
    }
    &.disabled {
      pointer-events: none;
      //color: var(--disabled-text--stroke);
      //background-color: var(--disabled-frame--stroke-light);
    }
  }
  &__desc {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    text-align: center;
    color: var(--text-neutral-darker);
    a {
      display: block;
      color: var(--text-accent-default);
      transition: color 0.4s ease-in-out;
      &:focus,&:focus-visible {
        outline: none;
      }
      &:focus-visible,&:hover,&:active {
        color: var(--text-neutral-darker);
      }
    }
  }
  &__shipped {
    &.none {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .box-order {
    &__content {
      position: relative;
      border-radius: 16px;
      min-height: 260px;
      padding: 24px;
      align-items: start;
      justify-content: space-between;
      background-image: url("../img/box-order/3.png"), url("../img/box-order/4.png");
    }
    &__wrapp-info {
      position: absolute;
      inset: 24px 24px;
      justify-content: space-between;
      align-items: start;
    }
    &__label {
      input {
        min-width: 100%;
        max-width: 185px;
      }
    }
    &__title {
      max-width: 100%;
    }
    &__wrapp_form {
      margin: 0 auto;
    }
    &__form {
      max-width: 294px;
    }
    &__shipped {
      position: absolute;
      inset: 24px 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        max-width: 200px;
        text-align: center;
      }
    }
  }
}