.filter {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 236px;
  max-height: calc(100vh - 300px);
  overflow: auto;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--surface-darker);
    border-radius: 100px;
  }
  &__top-line {
    display: none;
  }
  &__options {
    display: flex;
    flex-direction: column;
  }
  &__top-btn-group {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--stroke-neutral-lighter);
  }
  &__box-slider {
    padding: 0 14px 40px 14px;
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: var(--text-neutral-header);
  }
  &__buttons {
    padding: 0 14px;
  }
  &__off {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid var(--stroke-neutral-light);
    border-radius: 12px;
    padding: 10px 12px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: var(--text-neutral-darker);
    background-color: var(--component-neutral-default-darker);
    transition: background-color 0.4s ease-in-out;
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      background-color: var(--stroke-neutral-light);
    }
  }
}
@-moz-document url-prefix() {
  .filter {
    scrollbar-width: thin;
    scrollbar-color: var(--surface-darker) transparent;
  }
}
@media (max-width: 1500px) {
  .filter {
    min-width: 286px;
    gap: 0;
    max-height: 100vh;
    opacity: 0;
    transform: scale(0) rotate(12.5deg);
    transition: transform 0.4s ease, opacity 0.4s ease;
    &::-webkit-scrollbar {
      width: 18px; /* Общая ширина скроллбара */
      background-color: transparent; /* Прозрачный фон трека */
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
      margin: 6px 0; /* Вертикальные отступы */
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--background-normal);
      border-radius: 100px;
      border: 6px solid transparent; /* Горизонтальные отступы */
      background-clip: content-box; /* Ограничиваем фон только областью контента */
      min-height: 40px; /* Минимальная высота ползунка */
    }
    &__top-line {
      display: flex;
      padding: 24px 16px 32px 16px;
      background-color: var(--background-normal);
      justify-content: space-between;
    }
    &__main-title {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: var(--text-neutral-header);
    }
    &__close {
      display: flex;
      color: var(--text-neutral-header);
      transition: color 0.4s ease-in-out;
      &:focus,&:focus-visible {
        outline: none;
      }
      &:focus-visible,&:hover,&:active {
        content: var(--text-accent-default);
      }
    }
    &__options {
      padding: 0 16px;
      background-color: var(--background-normal);
    }
    &__buttons {
      padding: 0 16px 16px;
      background-color: var(--background-normal);
    }
  }
}