.modal {
  position: relative;
  border-radius: 20px;
  padding: 24px;
  background: var(--background-normal);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  &__close {
    position: absolute;
    top: 18px;
    right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-900);
    transition: color 0.4s ease-in-out;
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      color: var(--text-accent-default);
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }
  &__input-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--text-neutral-header);
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    li {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }
  &__top-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      color: var(--text-neutral-dark);
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      inset: -2px;
      pointer-events: none;
      z-index: 0;
      border: 2px solid var(--blue-300);
      border-radius: 8px;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
    }
    &:has(input:focus-visible)::after {
      opacity: 1;
    }
    &:has(textarea:focus-visible)::after {
      opacity: 1;
    }
    &:has(textarea) {
      margin-bottom: 22px;
    }
    input, textarea {
      padding: 10px 14px;
      min-width: 100%;
      border: 1px solid var(--stroke-accent-light);
      border-radius: 8px;
      transition: border-color 0.4s ease-in-out;
      &:focus,&:focus-visible {
        outline: none;
      }
      &:hover {
        border-color: var(--stroke-accent-dark);
      }
      &:focus-visible,&:active {
        border-color: var(--stroke-accent-dark);
      }
    }
    textarea {
      resize: none;
      height: 96px;
    }
    .quantity {
      position: absolute;
      right: 0;
      bottom: -22px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      line-height: 133%;
      color: var(--text-neutral-default);
    }
  }
  &__box-estimation {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &__submit-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    p {
      text-align: center;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 12px;
      line-height: 133%;
      text-align: center;
      color: var(--text-neutral-darker);
      a {
        color: var(--text-accent-default);
        transition: color 0.4s ease-in-out;
        &:focus,&:focus-visible {
          outline: none;
        }
        &:focus-visible,&:hover,&:active {
          color: var(--text-neutral-darker);
        }
      }
    }
  }
  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 14px 12px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 133%;
    color: var(--text-neutral-lightest);
    background-color: var(--component-accent-primary-default);
    transition: background-color 0.4s ease-in-out;
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      background-color: var(--component-accent-primary-hover);
    }
  }
}