.btn-order {
  border-radius: 8px;
  border: 1px solid var(--stroke-accent-light);
  padding: 10px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 13px;
  line-height: 123%;
  color: var(--text-accent-default);
  transition: background-color 0.4s ease-in-out;
  &:focus,&:focus-visible {
    outline: none;
  }
  &:focus-visible,&:hover,&:active {
    background-color: var(--component-accent-secondary-default);
  }
}