.drop-down-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &__btn {
    padding: 4px 0;
    display: flex;
    align-items: center;
    gap: 6px;
    svg {
      transition: transform 0.4s ease-in-out, color 0.4s ease-in-out;
    }
    &.active {
      svg {
        transform: rotate(180deg);
      }
      & + .drop-down-box__content {
        display: block;
      }
    }
    .text {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      transition: color 0.4s ease-in-out;
      color: var(--text-neutral-button-default-dark);
    }
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      color: var(--text-accent-default);
      .text {
        color: var(--text-accent-default);
      }
    }
  }
  &__content {
    display: none;
    overflow-y: auto;
    //max-height: 754px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .top {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      .left {
        display: flex;
        align-items: center;
        gap: 6px;
        .estimation {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 12px;
          line-height: 133%;
          color: var(--text-neutral-darker);
        }
        .reviews {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 12px;
          line-height: 133%;
          color: var(--text-neutral-light);
        }
      }
      .right {
        display: flex;
        align-items: center;
        gap: 6px;
        .signal {
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background-color: var(--component-positive-primary-default);
            transition: background-color 0.4s ease-in-out;
            animation-name: scalePulse;
            animation-duration: 1s;
            animation-delay: 0s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
          }
        }
        p {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 12px;
          line-height: 133%;
          color: var(--text-neutral-darker);
        }
      }
    }
    .detailed-card-sec1 {
      &__table {
        &-row {
          flex-direction: column;
          gap: 6px;
          align-items: start;
          &:first-child {
            padding-top: 0;
          }
        }
      }
    }
  }
}