<div class="card2">
  <div class="card2__top-info">
    <div class="card2__box-img">
      <a href="#" class="card2__img-link">
        <img src="@@urlImg" alt="img">
      </a>
      <span class="card2__marker-wrapp">
        <span class="card2__marker recommend">Рекомендуем</span>
        <span class="card2__marker new">Новинка</span>
        <span class="card2__marker domestic">Домашний</span>
      </span>
    </div>
    <div class="card2__box-info">
      <div class="box-price">
        <span class="actual-price">460 340 ₽</span>
        <span class="new-price">460 340 ₽</span>
        <span class="old-price">560 340 ₽</span>
        <span class="percent-price">-23%</span>
      </div>
      <h3 class="card2__title">
        <a href="#">NovaMiner L9, 17 GH/s</a>
      </h3>
      <div class="card2__list-specific list-reset">
        <div>
          <span class="name">Хешрейт</span>
          <span class="info">20 GH/s</span>
        </div>
        <div>
          <span class="name">Добываемые монеты</span>
          <span class="info">BTC/BCH/BCV</span>
        </div>
        <div>
          <span class="name">Алгоритм</span>
          <span class="info">kHeavyHash</span>
        </div>
      </в>
    </div>
  </div>
  <div class="card2__bottom-info">
    <div class="top">
      <div class="left">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="estimation">5.0</span>
        <span class="reviews">(34 отзыва)</span>
      </div>
      <div class="right">
        <div class="signal">
          <span></span>
        </div>
        <p>Доступен предзаказ</p>
      </div>
    </div>
    <div class="bottom">
      <button class="btn-order btn-reset open-order">
        Заказать
      </button>
      <a href="#" class="link like">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
          <use xlink:href="img/sprite.svg#like"></use>
        </svg>
        <span class="counter">
          23
        </span>
      </a>
      <label class="comparison">
        <input type="checkbox" name="comparison">
        <span>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
            <use xlink:href="img/sprite.svg#comparCard"></use>
          </svg>
        </span>
      </label>
    </div>
  </div>
</div>