<div class="card6">
  <div class="card6__top">
    <div class="card6__box-img">
      <img src="@@urlImg" alt="img">
    </div>
    <div class="card6__top-info">
      <h3 class="card6__name">
        Мария Петрова
      </h3>
      <p class="card6__desc">
        Менеджер
      </p>
    </div>
  </div>
  <div class="card6__bottom">
    <div class="card6__bottom-info">
      <a href="tel:+78008888080">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
          <use xlink:href="img/sprite.svg#linkTel"></use>
        </svg>
        <span class="text">8 (800) 888-80-80</span>
      </a>
      <a href="#">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
          <use xlink:href="img/sprite.svg#linkTg1"></use>
        </svg>
        <span class="text">@Ivanov.me</span>
      </a>
    </div>
    <a href="#" class="card6__bottom-link">
      Написать
    </a>
  </div>
</div>