<div class="card8">
  <div class="card8__box-info fixed-el">
    <div class="box-price">
      <span class="actual-price">460 340 ₽</span>
      <span class="new-price">460 340 ₽</span>
      <span class="old-price">560 340 ₽</span>
      <span class="percent-price">-23%</span>
    </div>
    <h3 class="card8__title">
      <a href="#">NovaMiner L9, 17 GH/s</a>
    </h3>
  </div>
  <button class="card8__btn-close btn-reset">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
      <use xlink:href="img/sprite.svg#btnCloseCard8"></use>
    </svg>
  </button>
  <div class="card8__box-top">
    <div class="card8__box-img">
      <img src="img/box-orders/1.png" alt="img">
    </div>
    <div class="card8__box-info">
      <div class="box-price">
        <span class="actual-price">460 340 ₽</span>
        <span class="new-price">460 340 ₽</span>
        <span class="old-price">560 340 ₽</span>
        <span class="percent-price">-23%</span>
      </div>
      <h3 class="card8__title">
        <a href="#">NovaMiner L9, 17 GH/s</a>
      </h3>
    </div>
    <div class="card8__marker-wrapp">
      <span class="card2__marker recommend">Рекомендуем</span>
      <span class="card2__marker new">Новинка</span>
      <span class="card2__marker domestic">Домашний</span>
    </div>
  </div>
  <div class="card8__box-bottom">
    <div class="card8__drop-down drop-down-box">
      <button class="drop-down-box__btn active btn-reset">
        <span class="text">
          О товаре
        </span>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
          <use xlink:href="img/sprite.svg#dropDown1"></use>
        </svg>
      </button>
      <div class="drop-down-box__content">
        <div class="top">
          <div class="left">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <span class="estimation">5.0</span>
            <span class="reviews">(34 отзыва)</span>
          </div>
          <div class="right">
            <div class="signal">
              <span></span>
            </div>
            <p>Есть в наличии</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card8__drop-down drop-down-box">
      <button class="drop-down-box__btn active btn-reset">
        <span class="text">
          Характеристики
        </span>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
          <use xlink:href="img/sprite.svg#dropDown1"></use>
        </svg>
      </button>
      <div class="drop-down-box__content">
        <ul class="detailed-card-sec1__table swiper-slide list-reset">
          <li class="detailed-card-sec1__table-row">
            <p>Хэшрейт</p>
            <p><span>3680 МН/s</span></p>
          </li>
          <li class="detailed-card-sec1__table-row">
            <p>Алгоритм</p>
            <p><span>Etchash/Ethash</span></p>
          </li>
          <li class="detailed-card-sec1__table-row">
            <p>Добываемые монеты</p>
            <p><span>ETC/ETHW</span></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>