<div class="card3">
  <div class="card3__top">
    <p class="card3__desc">
      @@desc
    </p>
  </div>
  <div class="card3__bottom">
    <div class="left">
      <div class="box-img">
        <img src="@@urlImg" alt="img">
      </div>
      <div class="box-info">
        <h3 class="card3__name">
          @@name
        </h3>
        <p class="card3__platform">
          <img src="@@urlImgPlatform" alt="img">
          <span>@@namePlatform</span>
        </p>
      </div>
    </div>
    <div class="right">
      <svg width="17" height="16" viewBox="0 0 17 16" fill="none">
        <use xlink:href="img/sprite.svg#starReviews"></use>
      </svg>
      <span>5.0</span>
    </div>
  </div>
</div>