<div class="drop-bown-catalog">
  <a href="#" class="drop-bown-catalog__btn btn-reset">
    <span>Каталог</span>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
      <use xlink:href="img/sprite.svg#catalogDropTop"></use>
    </svg>
  </a>
  <div class="drop-bown-catalog__box">
    <h3 class="title">Майнеры<span>1 078</span></h3>
    <div class="catalog-wrapp">
      <div class="catalog-box">
        <h4>Производители</h4>
        <ul class="catalog-box__list list-reset">
          <li>
            <a href="">Bitmain</a>
          </li>
          <li>
            <a href="">MicroBT</a>
          </li>
          <li>
            <a href="">Goldschell</a>
          </li>
          <li>
            <a href="">ICERIVER</a>
          </li>
          <li>
            <a href="">JasMiner</a>
          </li>
          <li>
            <a href="">Canaan</a>
          </li>
        </ul>
      </div>
      <div class="catalog-box">
        <h4>Быстрый поиск</h4>
        <ul class="catalog-box__list list-reset">
          <li>
            <a href="">Рекомендуем</a>
          </li>
          <li>
            <a href="">Со скидкой</a>
          </li>
          <li>
            <a href="">Новинки</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>