<div class="drop-down-filter">
  <button class="drop-down-filter__btn btn-reset">
    <span class="text">
      Добываемые монеты
    </span>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
      <use xlink:href="img/sprite.svg#dropDown1"></use>
    </svg>
  </button>
  <ul class="drop-down-filter__list list-reset">
    <li>
      @@include('./checkbox1.html',{"name":"Goldschell"})
    </li>
    <li>
      @@include('./checkbox1.html',{"name":"ICERIVER"})
    </li>
    <li>
      @@include('./checkbox1.html',{"name":"JasMiner"})
    </li>
    <li>
      @@include('./checkbox1.html',{"name":"Canaan"})
    </li>
  </ul>
</div>