<div class="search1">
  <button class="search1__btn btn-reset">
    <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
      <use xlink:href="img/sprite.svg#search2"></use>
    </svg>
  </button>
  <form class="search1__form">
    <label class="search1__label">
      <input class="search1__input" type="text" name="search" placeholder="Поиск">
    </label>
    <button class="search1__submit btn-reset" type="submit">
      <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
        <use xlink:href="img/sprite.svg#search2"></use>
      </svg>
    </button>
  </form>
</div>