@font-face {
  font-family: "Onest";
  src: local("Onest-Medium"), url("../fonts/Onest-Medium.woff2") format("woff2"), url("../fonts/Onest-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: local("Onest-Regular"), url("../fonts/Onest-Regular.woff2") format("woff2"), url("../fonts/Onest-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: local("Onest-SemiBold"), url("../fonts/Onest-SemiBold.woff2") format("woff2"), url("../fonts/Onest-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "VelaSans";
  src: local("VelaSans-Bold"), url("../fonts/VelaSans-Bold.woff2") format("woff2"), url("../fonts/VelaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "VelaSans";
  src: local("VelaSans-Medium"), url("../fonts/VelaSans-Medium.woff2") format("woff2"), url("../fonts/VelaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "VelaSans";
  src: local("VelaSans-SemiBold"), url("../fonts/VelaSans-SemiBold.woff2") format("woff2"), url("../fonts/VelaSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/** {
  outline: 2px solid red;
}*/
a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 390px;
  font-family: var(--font-family);
  background-color: var(--background-normal);
  transition: background-color 0.4s ease-in-out;
}

body.loading header,
body.loading main,
body.loading footer {
  display: none;
}

.main {
  flex: 1;
}

.section {
  padding-bottom: 140px;
}

.min-section {
  padding-bottom: 96px;
}

.overlay {
  position: fixed;
  z-index: 3;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(51, 51, 51, 0.8);
  transition: visibility 0.4s ease-in-out, bottom 0.4s ease-in-out, opacity 0.4s ease-in-out, z-index 0.4s ease-in-out;
}

.overlay--active {
  visibility: visible;
  bottom: 0px;
}

.stop-scroll {
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1200px;
  padding: 0 48px;
  margin: 0 auto;
}

.container2 {
  max-width: 1920px;
  padding: 0 24px;
  margin: 0 auto;
}

:root {
  --font-family: "Onest", sans-serif;
  --second-family: "VelaSans", sans-serif;
}

:root {
  --red-main: #f65252;
  --red-500: #f76767;
  --red-400: #f99090;
  --red-300: #fbbaba;
  --red-200: #fee5e5;
  --red-100: #fff6f6;
  --green-main: #00b327;
  --green-500: #1fbc41;
  --green-400: #5cce75;
  --green-300: #99e1a9;
  --green-200: #defae5;
  --green-100: #f2fbf4;
  --disabled-text--stroke: var(--neutral-300);
  --disabled-frame--stroke-light: var(--neutral-75);
  --neutral-950: #09081c;
  --neutral-900: #18172a;
  --neutral-800: #303040;
  --neutral-700: #535260;
  --neutral-600: #6b6b77;
  --neutral-500: #84838d;
  --neutral-400: #9d9ca4;
  --blue-800: #193ad2;
  --blue-700: #2b4dea;
  --blue-main: #4263f7;
  --blue-600: #5976f8;
  --blue-500: #869bfa;
  --blue-400: #b3c0fc;
  --blue-300: #d1daff;
  --blue-200: #e0e5fe;
  --blue-100: #eaedfe;
  --neutral-300: #c1c1c6;
  --neutral-200: #dddcdf;
  --neutral-100: #ebebed;
  --neutral-75: #f1f1f2;
  --neutral-50: #fafafa;
  --neutral-0: #fff;
  --text-accent-default: var(--blue-main);
  --text-negative-default: var(--red-main);
  --text-positive-default: var(--green-main);
  --text-neutral-darker: var(--neutral-800);
  --text-neutral-default: var(--neutral-600);
  --text-neutral-light: var(--neutral-400);
  --text-neutral-header: var(--neutral-950);
  --stroke-accent-dark: var(--blue-main);
  --stroke-accent-default: var(--blue-300);
  --stroke-accent-light: var(--blue-100);
  --stroke-neutral-lighter: var(--neutral-100);
  --stroke-negative-dark: var(--red-main);
  --stroke-negative-default: var(--red-300);
  --stroke-negative-light: var(--red-200);
  --stroke-positive-dark: var(--green-main);
  --stroke-positive-default: var(--green-300);
  --stroke-positive-light: var(--green-200);
  --component-neutral-default: var(--neutral-50);
  --component-neutral-hover: var(--neutral-75);
  --component-neutral-active: var(--neutral-100);
  --component-accent-primary-default: var(--blue-main);
  --component-accent-primary-hover: var(--blue-600);
  --component-accent-primary-active: var(--blue-500);
  --component-accent-secondary-default: var(--blue-100);
  --component-accent-secondary-hover: var(--blue-200);
  --component-accent-secondary-active: var(--blue-300);
  --component-negative-primary-default: var(--red-main);
  --component-negative-primary-hover: var(--red-500);
  --component-negative-primary-active: var(--red-400);
  --component-negative-secondary-default: var(--red-200);
  --component-negative-secondary-hover: var(--red-300);
  --component-negative-secondary-active: var(--red-400);
  --surface-darkest: var(--neutral-700);
  --surface-darker: var(--neutral-400);
  --surface-default: var(--neutral-100);
  --surface-light: var(--neutral-75);
  --surface-lighter: var(--neutral-50);
  --background-normal: var(--neutral-0);
  --text-neutral-lightest: var(--neutral-0);
  --text-accent-button-default: var(--blue-main);
  --text-accent-button-hover: var(--blue-600);
  --text-accent-button-active: var(--blue-500);
  --text-negative-button-default: var(--red-main);
  --text-negative-button-hover: var(--red-500);
  --text-negative-button-active: var(--red-400);
  --text-positive-button-default: var(--green-main);
  --text-positive-button-hover: var(--green-500);
  --text-positive-button-active: var(--green-400);
  --component-positive-primary-default: var(--green-main);
  --component-positive-primary-hover: var(--green-500);
  --component-positive-primary-active: var(--green-400);
  --component-positive-secondary-default: var(--green-200);
  --component-positive-secondary-hover: var(--green-300);
  --component-positive-secondary-active: var(--green-400);
  --stroke-neutral-darkest: var(--neutral-900);
  --stroke-neutral-dark: var(--neutral-500);
  --text-neutral-button-default: var(--neutral-400);
  --text-neutral-button-hover: var(--neutral-300);
  --text-neutral-button-active: var(--neutral-200);
  --stroke-neutral-button-active: var(--neutral-200);
  --stroke-neutral-button-hover: var(--neutral-300);
  --stroke-neutral-button-default: var(--neutral-400);
  --background-inverce: var(--neutral-950);
  --orange-main: #f69152;
  --orange-500: #f79e67;
  --orange-400: #f9b990;
  --orange-300: #fbd3ba;
  --orange-200: #feefe5;
  --orange-100: #fff9f6;
  --component-warning-primary-default: var(--orange-main);
  --component-warning-primary-hover: var(--orange-500);
  --component-warning-primary-active: var(--orange-400);
  --component-warning-secondary-default: var(--orange-200);
  --component-warning-secondary-hover: var(--orange-300);
  --component-warning-secondary-active: var(--orange-400);
  --text-warning-default: var(--orange-main);
  --text-warning-button-default: var(--orange-main);
  --text-warning-button-hover: var(--orange-500);
  --text-warning-button-active: var(--orange-400);
  --stroke-warning-dark: var(--orange-main);
  --stroke-warning-default: var(--orange-300);
  --stroke-warning-light: var(--orange-200);
  --text-neutral-dark: var(--neutral-700);
  --stroke-neutral-default: var(--neutral-400);
  --stroke-accent-darker: var(--blue-600);
  --text-neutral-button-default-dark: var(--neutral-900);
  --text-neutral-button-hover-dark: var(--neutral-700);
  --text-neutral-button-active-dark: var(--neutral-600);
  --stroke-neutral-button-active-dark: var(--neutral-600);
  --stroke-neutral-button-hover-dark: var(--neutral-700);
  --stroke-neutral-button-default-dark: var(--neutral-900);
  --stroke-neutral-light: var(--neutral-200);
  --disabled-checkbox--radio-button: var(--neutral-100);
  --surface-dark: var(--neutral-200);
  --component-neutral-default-darker: var(--neutral-75);
  --component-neutral-hover-darker: var(--neutral-100);
  --component-neutral-active-darker: var(--neutral-200);
  --component-accent-default: var(--blue-400);
  --stroke-neutral-white: var(--neutral-0);
  --surface-darker-400: var(--neutral-400-400);
  --neutral-400-400: rgba(157, 156, 164, 0.4);
  --blue-100-800: rgba(234, 237, 254, 0.8);
  --component-accent-secondary-default-800: var(--blue-100-800);
  --green-200-800: rgba(222, 250, 229, 0.8);
  --red-200-800: rgba(254, 229, 229, 0.8);
  --component-warning-secondary-default-800: var(--orange-200-800);
  --orange-200-800: rgba(254, 239, 229, 0.8);
  --component-positive-secondary-default-800: var(--green-200-800);
}

@media (max-width: 1030px) {
  .min-section {
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .section {
    padding-bottom: 96px;
  }
  .container {
    padding: 0 24px;
  }
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
#preloader .loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.header {
  padding: 2px 0;
  border-bottom: 1px solid var(--stroke-neutral-lighter);
}
.header.fixed {
  position: fixed;
  z-index: 200;
  width: 100%;
  background-color: var(--background-normal);
  left: 0;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
}
.header__box-logo {
  display: flex;
  padding: 10px 24px 10px 0;
  border-right: 1px solid var(--stroke-neutral-lighter);
}
.header__logo {
  display: flex;
}
.header__logo:focus, .header__logo:focus-visible {
  outline: none;
}
.header__logo:focus-visible {
  outline: 1px solid var(--red-300);
}
.header__centre {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header__centre .nav1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__centre .nav1__list {
  display: flex;
  gap: 30px;
}
.header__centre .nav1__list li:first-child {
  display: none;
}
.header__centre .nav1__list a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--text-neutral-button-default-dark);
  transition: color 0.4s ease-in-out;
}
.header__centre .nav1__list a:focus-visible, .header__centre .nav1__list a:focus {
  outline: none;
}
.header__centre .nav1__list a:focus-visible, .header__centre .nav1__list a:hover, .header__centre .nav1__list a:active {
  color: var(--text-accent-default);
}
.header__hidden-logo {
  display: none;
}
.header__right {
  display: flex;
}
.header__btn-info-group {
  padding: 10px 24px;
  border-right: 1px solid var(--stroke-neutral-lighter);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header__btn-info-group .link {
  display: flex;
  gap: 4px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--stroke-accent-default);
  background-color: var(--component-accent-secondary-default);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: var(--text-accent-default);
  transition: border-color 0.4s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
.header__btn-info-group .link:focus-visible, .header__btn-info-group .link:focus {
  outline: none;
}
.header__btn-info-group .link:focus-visible, .header__btn-info-group .link:hover, .header__btn-info-group .link:active {
  border-color: var(--component-accent-secondary-hover);
  background-color: var(--component-accent-secondary-hover);
}
.header__btn-info-group .link.like {
  border-color: var(--stroke-negative-default);
  background-color: var(--component-negative-secondary-default);
  color: var(--text-negative-default);
}
.header__btn-info-group .link.like:focus-visible, .header__btn-info-group .link.like:hover, .header__btn-info-group .link.like:active {
  border-color: var(--component-negative-secondary-hover);
  background-color: var(--component-negative-secondary-hover);
}
.header__btn-info-group .link.null {
  pointer-events: none;
  color: var(--neutral-300);
  border-color: var(--disabled-frame--stroke-light);
  background-color: var(--disabled-frame--stroke-light);
}
.header__phone-box {
  display: flex;
  gap: 8px;
  padding: 0 24px;
  align-items: center;
  justify-content: center;
}
.header__phone-box .signal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__phone-box .signal span {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--component-positive-primary-default);
  transition: background-color 0.4s ease-in-out;
  animation-name: scalePulse;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.header__phone-box a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--text-neutral-darker);
  transition: color 0.4s ease-in-out;
}
.header__phone-box a:focus, .header__phone-box a:focus-visible {
  outline: none;
}
.header__phone-box a:focus-visible, .header__phone-box a:hover, .header__phone-box a:active {
  color: var(--text-accent-default);
}
.header__network-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header__network-group .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  min-width: 36px;
  height: 36px;
  border: 1px solid var(--neutral-0);
  border-radius: 8px;
  color: var(--neutral-0);
  transition: border-color 0.4s ease-in-out;
}
.header__network-group .link:focus, .header__network-group .link:focus-visible {
  outline: none;
}
.header__network-group .link:focus-visible, .header__network-group .link:active, .header__network-group .link:hover {
  border-color: #239bd5;
}
.header__network-group .link.tg {
  background-color: #239bd5;
}
.header__network-group .link.wu {
  background-color: var(--component-positive-primary-default);
}
.header__hidden-mob {
  display: none;
}
.header__burger-menu {
  display: none;
}

@keyframes scalePulse {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@media (max-width: 1500px) {
  .header__left {
    display: none;
  }
  .header__logo {
    max-width: 91px;
  }
  .header__hidden-logo {
    padding: 12px 14px 12px 0;
    display: flex;
  }
  .header__network-group {
    display: none;
  }
  .header__btn-info-group {
    border: none;
  }
  .header__phone-box {
    padding: 0;
  }
  .header__hidden-mob {
    display: flex;
  }
  .header__hidden-mob .burger {
    display: none;
  }
}
@media (max-width: 1030px) {
  .header__left {
    display: block;
  }
  .header__box-logo {
    border: none;
    padding: 12px 24px 12px 0;
  }
  .header__centre {
    display: none;
  }
  .header__centre .nav1__list li:first-child {
    display: list-item;
  }
  .header__btn-info-group-wrapp {
    display: none;
  }
  .header__hidden-mob {
    align-items: center;
    gap: 8px;
    flex-direction: row-reverse;
  }
  .header__hidden-mob .burger {
    padding: 6px 4px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
  }
  .header__hidden-mob .burger span {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--stroke-neutral-button-default-dark);
    transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out;
  }
  .header__hidden-mob .burger span:last-child {
    width: 80%;
  }
  .header__hidden-mob .burger:focus-visible, .header__hidden-mob .burger:focus {
    outline: none;
  }
  .header__hidden-mob .burger:focus-visible span, .header__hidden-mob .burger:hover span, .header__hidden-mob .burger:active span {
    background-color: var(--blue-800);
  }
  .header__hidden-mob .burger:focus-visible span:last-child, .header__hidden-mob .burger:hover span:last-child, .header__hidden-mob .burger:active span:last-child {
    width: 100%;
  }
  .burger-menu {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transform: translateY(-120%);
    background-color: var(--background-normal);
    transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, z-index 0.4s ease-in-out, transform 0.4s ease-in-out;
  }
  .burger-menu.active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: none;
  }
  .burger-menu__top-line {
    padding: 2px 0;
    border-bottom: 1px solid var(--stroke-neutral-lighter);
  }
  .burger-menu__top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .burger-menu__close {
    display: flex;
    width: 24px;
    min-width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
  }
  .burger-menu__close:focus, .burger-menu__close:focus-visible {
    outline: none;
  }
  .burger-menu__content {
    height: 100%;
  }
  .burger-menu__container {
    height: 100%;
  }
  .burger-menu__box-group {
    padding-top: 24px;
    padding-bottom: 116px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .burger-menu__list-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .burger-menu__list-link li a {
    display: inline-block;
    padding: 10px 14px;
    border: 1.5px solid var(--stroke-neutral-lighter);
    border-radius: 8px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: var(--text-neutral-darker);
  }
  .burger-menu__list-link li a:focus, .burger-menu__list-link li a:focus-visible {
    outline: none;
  }
  .burger-menu .search1 {
    padding: 0;
  }
  .burger-menu .search1__btn {
    display: none;
  }
  .burger-menu .search1__form-wrapp {
    display: block;
    position: static;
    z-index: 1;
    visibility: visible;
    opacity: 1;
    background-color: transparent;
  }
  .burger-menu .search1__label {
    padding: 10px 34px;
    background-color: var(--surface-lighter);
    border-color: var(--stroke-neutral-lighter);
  }
  .burger-menu__box-search {
    margin-bottom: 16px;
  }
  .burger-menu__box-nav1 .nav1__list {
    display: flex;
    flex-direction: column;
  }
  .burger-menu__box-nav1 .nav1__list li {
    border-bottom: 1px solid var(--stroke-neutral-lighter);
  }
  .burger-menu__box-nav1 .nav1__list li a {
    display: flex;
    padding: 12px 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-neutral-button-default-dark);
    transition: color 0.4s ease-in-out;
  }
  .burger-menu__box-nav1 .nav1__list li a:focus, .burger-menu__box-nav1 .nav1__list li a:focus-visible {
    outline: none;
  }
  .burger-menu__box-nav1 .nav1__list li a:focus-visible, .burger-menu__box-nav1 .nav1__list li a:hover, .burger-menu__box-nav1 .nav1__list li a:active {
    color: var(--text-accent-default);
  }
}
.search1 {
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search1__btn {
  display: none;
}
.search1__form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search1__close {
  display: flex;
  position: absolute;
  right: 12px;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  transition: z-index 0.4s ease-in-out, visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.search1__label {
  min-width: 240px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 34px;
  border: 1px solid var(--background-normal);
  border-radius: 100px;
  background-color: var(--surface-light);
  background-image: url("../img/search1/search1.svg");
  background-repeat: no-repeat;
  background-position: 12px center;
  transition: border-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
.search1__label:has(.search1__input:hover) {
  border-color: var(--stroke-accent-dark);
}
.search1__label:has(.search1__input:focus) {
  border-color: var(--stroke-accent-dark);
  box-shadow: 0 0 0 2px var(--blue-300);
}
.search1__label:has(.search1__input:focus) + .search1__close {
  z-index: 2;
  visibility: visible;
  opacity: 1;
}
.search1__input {
  width: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--text-neutral-button-default-dark);
}
.search1__input:focus, .search1__input:focus-visible {
  outline: none;
}
.search1__submit {
  display: none;
}

@media (max-width: 1500px) {
  .search1 {
    padding: 10px 0 10px 12px;
  }
  .search1__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-neutral-button-default-dark);
  }
  .search1__btn:focus, .search1__btn:focus-visible {
    outline: none;
  }
  .search1__btn:focus-visible, .search1__btn:hover, .search1__btn:active {
    color: var(--stroke-accent-dark);
  }
  .search1__btn.active + .search1__form-wrapp {
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }
  .search1__form-wrapp {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--surface-darker-400);
    transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, z-index 0.4s ease-in-out;
  }
  .search1__label {
    min-width: 320px;
    border-radius: 12px;
    padding: 14px 40px;
    background-color: var(--background-normal);
  }
}
.drop-bown-catalog {
  position: relative;
}
.drop-bown-catalog__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--text-accent-default);
}
.drop-bown-catalog__btn:focus, .drop-bown-catalog__btn:focus-visible {
  outline: none;
}
.drop-bown-catalog__btn:focus-visible, .drop-bown-catalog__btn:hover,
.drop-bown-catalog__btn svg {
  transition: transform 0.4s ease-in-out;
}
.drop-bown-catalog__btn.active + .drop-bown-catalog__box {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
.drop-bown-catalog__btn.active svg {
  transform: rotate(180deg);
}
.drop-bown-catalog__box {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  padding: 24px;
  border-radius: 8px;
  position: absolute;
  top: calc(100% + 12px);
  left: -56px;
  box-shadow: 0 0 16px 0 rgba(9, 8, 28, 0.1);
  background: var(--background-normal);
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, z-index 0.4s ease-in-out;
}
.drop-bown-catalog__box .title {
  margin-bottom: 24px;
  white-space: nowrap;
  display: flex;
  gap: 6px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: var(--text-neutral-header);
}
.drop-bown-catalog__box .title span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: var(--text-neutral-light);
}
.drop-bown-catalog__box .catalog-wrapp {
  display: flex;
}
.drop-bown-catalog__box .catalog-box {
  min-width: 147px;
  padding: 0 24px;
  border-right: 1px solid var(--surface-default);
}
.drop-bown-catalog__box .catalog-box:first-child {
  padding-left: 0;
}
.drop-bown-catalog__box .catalog-box:last-child {
  padding-right: 0;
  border: none;
}
.drop-bown-catalog__box .catalog-box h4 {
  margin-bottom: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  white-space: nowrap;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: var(--text-neutral-light);
}
.drop-bown-catalog__box .catalog-box__list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.drop-bown-catalog__box .catalog-box__list li {
  padding: 4px 0;
}
.drop-bown-catalog__box .catalog-box__list a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--text-neutral-button-default-dark);
  transition: color 0.4s ease-in-out;
}
.drop-bown-catalog__box .catalog-box__list a:focus-visible, .drop-bown-catalog__box .catalog-box__list a:focus {
  outline: none;
}
.drop-bown-catalog__box .catalog-box__list a:focus-visible, .drop-bown-catalog__box .catalog-box__list a:hover, .drop-bown-catalog__box .catalog-box__list a:active {
  color: var(--text-accent-default);
}

@media (max-width: 1500px) {
  .drop-bown-catalog__box {
    left: -24px;
  }
}
.section-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  text-align: center;
  color: var(--text-neutral-header);
}

@media (max-width: 767px) {
  .section-title {
    font-size: 20px;
    text-align: start;
  }
}
.section-title-desc {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-neutral-dark);
}

@media (max-width: 767px) {
  .section-title-desc {
    font-size: 13px;
    text-align: start;
  }
}
.box-advantages__content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.box-advantages__top-box {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.box-advantages__list {
  display: flex;
  border: 1px solid var(--stroke-neutral-lighter);
  border-radius: 20px;
}
.box-advantages__list li {
  border-right: 1px solid var(--stroke-accent-default);
}
.box-advantages__list li:last-child {
  border: none;
}

@media (max-width: 1030px) {
  .box-advantages__list {
    flex-direction: column;
  }
  .box-advantages__list li {
    border-right: none;
    border-bottom: 1px solid var(--stroke-accent-default);
  }
}
@media (max-width: 767px) {
  .box-advantages__content {
    gap: 32px;
  }
  .box-advantages__list {
    border-radius: 16px;
  }
}
.card1 {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  min-height: 320px;
}
.card1__top-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card1__top-box img {
  width: 32px;
  min-width: 32px;
  height: 32px;
}
.card1__desc {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: var(--text-neutral-dark);
}
.card1__desc a {
  color: var(--text-accent-default);
}
.card1__desc a:focus, .card1__desc a:focus-visible {
  outline: none;
}
.card1__desc a:focus-visible, .card1__desc a:hover, .card1__desc a:active {
  color: var(--text-neutral-dark);
}
.card1__bottom-box {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.card1__bottom-box a {
  display: flex;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid var(--stroke-accent-default);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--text-accent-default);
  background-color: var(--component-accent-secondary-default);
  transition: background-color 0.4s ease-in-out;
}
.card1__bottom-box a:focus, .card1__bottom-box a:focus-visible {
  outline: none;
}
.card1__bottom-box a:focus-visible, .card1__bottom-box a:hover, .card1__bottom-box a:active {
  background-color: var(--component-accent-secondary-hover);
}

@media (max-width: 1030px) {
  .card1 {
    min-height: 248px;
  }
}
@media (max-width: 767px) {
  .card1 {
    padding: 20px;
    min-height: 256px;
  }
  .card1__top-box img {
    width: 28px;
    min-width: 28px;
    height: 28px;
  }
  .card1__desc {
    font-size: 16px;
  }
  .card1__bottom-box a {
    padding: 10px;
    font-size: 13px;
  }
  .card1__bottom-box a svg {
    width: 16px;
    height: 16px;
  }
}
.box-factoty__content {
  overflow: hidden;
  position: relative;
  padding: 32px;
  border: 1px solid var(--stroke-neutral-lighter);
  border-radius: 20px;
  background-color: var(--surface-lighter);
}
.box-factoty__left {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  max-width: 552px;
  min-height: 256px;
}
.box-factoty__top {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.box-factoty__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: var(--text-neutral-darker);
}
.box-factoty__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: var(--text-neutral-dark);
}
.box-factoty__box-btn {
  display: flex;
}
.box-factoty__btn {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 14px 12px;
  border-radius: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 133%;
  color: var(--text-neutral-lightest);
  background-color: var(--component-accent-primary-default);
  transition: background-color 0.4s ease-in-out;
}
.box-factoty__btn:focus, .box-factoty__btn:focus-visible {
  outline: none;
}
.box-factoty__btn:focus-visible, .box-factoty__btn:hover, .box-factoty__btn:active {
  background-color: var(--component-accent-primary-hover);
}
.box-factoty__img {
  position: absolute;
  inset: 0 0 0 auto;
  object-fit: cover;
  height: 100%;
}

@media (max-width: 1030px) {
  .box-factoty__content {
    padding: 24px;
  }
  .box-factoty__left {
    min-height: 210px;
  }
  .box-factoty__btn {
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .box-factoty__left {
    max-width: 278px;
  }
  .box-factoty__top {
    gap: 8px;
  }
  .box-factoty__title {
    font-size: 20px;
  }
  .box-factoty__desc {
    font-size: 13px;
  }
}
.box-offers__top-line {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-offers__btn-swiper-group {
  display: none;
}
.box-offers__title {
  max-width: 550px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: var(--text-neutral-darker);
}
.box-offers__title a {
  transition: color 0.4s ease-in-out;
}
.box-offers__title a:focus, .box-offers__title a:focus-visible {
  outline: none;
}
.box-offers__title a:focus-visible, .box-offers__title a:hover, .box-offers__title a:active {
  color: var(--text-accent-default);
}
.box-offers__title span {
  color: var(--text-neutral-light);
}
.box-offers__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}
.box-offers .card2__list-specific div:last-child {
  display: none;
}
.box-offers .card2__bottom-info {
  display: none;
}

@media (max-width: 1030px) {
  .box-offers__container {
    overflow: hidden;
  }
  .box-offers__btn-swiper-group {
    display: flex;
    gap: 8px;
  }
  .box-offers__btn-swiper-group .btn-swiper {
    border: 1px solid var(--stroke-accent-light);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    transition: background-color 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }
  .box-offers__btn-swiper-group .btn-swiper.btn-swiper-prev.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }
  .box-offers__btn-swiper-group .btn-swiper.btn-swiper-prev svg {
    transform: rotate(180deg);
  }
  .box-offers__btn-swiper-group .btn-swiper.btn-swiper-next.swiper-button-disabled {
    opacity: 0.7;
    pointer-events: none;
  }
  .box-offers__btn-swiper-group .btn-swiper .text {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 13px;
    line-height: 123%;
    color: var(--text-accent-default);
  }
  .box-offers__btn-swiper-group .btn-swiper:focus, .box-offers__btn-swiper-group .btn-swiper:focus-visible {
    outline: none;
  }
  .box-offers__btn-swiper-group .btn-swiper:focus-visible, .box-offers__btn-swiper-group .btn-swiper:hover, .box-offers__btn-swiper-group .btn-swiper:active {
    background-color: var(--component-accent-secondary-hover);
  }
  .box-offers__title span {
    display: none;
  }
  .box-offers__box-products {
    overflow: visible;
  }
  .box-offers__list {
    display: flex;
    gap: 0;
  }
}
@media (max-width: 767px) {
  .box-offers__top-line {
    margin-bottom: 29px;
  }
  .box-offers__title {
    font-size: 20px;
  }
}
.card2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.card2__top-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card2__box-img {
  position: relative;
  display: block;
}
.card2__box-img::before {
  content: "";
  display: block;
  padding-top: 91%;
}
.card2__img-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--stroke-neutral-lighter);
  border-radius: 16px;
  position: absolute;
  inset: 0;
  background: var(--component-neutral-default);
}
.card2__img-link:focus, .card2__img-link:focus-visible {
  outline: none;
}
.card2__marker {
  padding: 8px 12px;
  border-radius: 12px;
  position: absolute;
  top: 6px;
  left: 6px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  line-height: 123%;
  backdrop-filter: blur(6px);
}
.card2__marker.recommend {
  color: var(--text-accent-default);
  background: var(--component-accent-secondary-default-800);
}
.card2__marker.new {
  color: var(--text-positive-default);
  background: var(--component-positive-secondary-default-800);
}
.card2__marker.domestic {
  color: var(--text-warning-default);
  background: var(--component-warning-secondary-default-800);
}
.card2__box-info {
  padding: 0 8px;
}
.card2__box-info .box-price {
  margin-bottom: 2px;
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  gap: 8px;
}
.card2__box-info .box-price span {
  white-space: nowrap;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
.card2__box-info .box-price span.actual-price {
  color: var(--text-accent-default);
}
.card2__box-info .box-price span.new-price {
  color: var(--text-negative-default);
}
.card2__box-info .box-price span.old-price {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  text-decoration: line-through;
  color: var(--text-neutral-light);
}
.card2__box-info .box-price span.percent-price {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: var(--text-negative-default);
}
.card2__title {
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: var(--text-neutral-darker);
}
.card2__title a {
  transition: color 0.4s ease-in-out;
}
.card2__title a:focus, .card2__title a:focus-visible {
  outline: none;
}
.card2__title a:focus-visible, .card2__title a:hover, .card2__title a:active {
  color: var(--text-accent-default);
}
.card2__list-specific {
  display: flex;
  gap: 16px;
}
.card2__list-specific div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.card2__list-specific div span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
}
.card2__list-specific div span.name {
  color: var(--text-neutral-light);
}
.card2__list-specific div span.info {
  font-size: 13px;
  color: var(--text-neutral-darker);
}

@media (max-width: 1030px) {
  .card2__box-img::before {
    padding-top: 73%;
  }
}
@media (max-width: 767px) {
  .card2__box-img::before {
    padding-top: 95%;
  }
  .card2__img-link {
    background: transparent;
  }
  .card2__top-info {
    gap: 8px;
  }
  .card2__top-info .box-price span {
    font-size: 14px;
  }
  .card2__title {
    margin-bottom: 12px;
    font-size: 13px;
    line-height: 123%;
  }
  .card2__list-specific div {
    flex-direction: row;
    align-items: end;
  }
  .card2__list-specific div:not(:first-child) {
    display: none;
  }
  .card2__list-specific div span.info {
    font-size: 12px;
    line-height: 133%;
  }
}
.box-reviews__top-box {
  margin-bottom: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-reviews__title {
  display: none;
}
.box-reviews__desc {
  max-width: 360px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: var(--text-neutral-default);
}
.box-reviews__desc .addition {
  color: var(--text-neutral-header);
  transition: color 0.4s ease-in-out;
}
.box-reviews__desc .addition:focus, .box-reviews__desc .addition:focus-visible {
  outline: none;
}
.box-reviews__desc .addition:focus-visible, .box-reviews__desc .addition:hover, .box-reviews__desc .addition:active {
  color: var(--text-accent-default);
}
.box-reviews__testimonials-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}
.box-reviews__column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.box-reviews .testimonial {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.box-reviews .testimonial.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1030px) {
  .box-reviews__top-box {
    margin-bottom: 80px;
  }
  .box-reviews__testimonials-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .box-reviews__column.last {
    display: none;
  }
}
@media (max-width: 767px) {
  .box-reviews__desc {
    max-width: 100%;
    font-size: 18px;
  }
  .box-reviews__top-box {
    margin-bottom: 48px;
  }
  .box-reviews__testimonials-wrapper {
    grid-template-columns: 1fr;
  }
  .box-reviews__column.middle {
    display: none;
  }
}
.card3 {
  padding: 16px;
  border: 1px solid var(--stroke-neutral-lighter);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--surface-lighter);
}
.card3__desc {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: var(--text-neutral-darker);
}
.card3__bottom {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.card3__bottom .left {
  display: flex;
  gap: 12px;
  align-items: center;
}
.card3__bottom .left .box-img {
  width: 40px;
  min-width: 40px;
  height: 40px;
}
.card3__bottom .left .box-img img {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 100%;
}
.card3__bottom .left .box-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.card3__bottom .right {
  display: flex;
  align-items: center;
  gap: 4px;
}
.card3__bottom .right span {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  color: var(--text-warning-default);
}
.card3__name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: var(--text-neutral-darker);
}
.card3__platform {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: var(--text-neutral-default);
}

.box-questions__content {
  max-width: 696px;
  margin: 0 auto;
}
.box-questions__top-box {
  margin: 0 auto;
  margin-bottom: 64px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.box-questions__list-wrapp {
  margin-bottom: 48px;
}
.box-questions__list {
  display: flex;
  flex-direction: column;
}
.box-questions__list li {
  border-bottom: 1px solid var(--stroke-neutral-lighter);
}
.box-questions__btn-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-questions__btn-all {
  display: flex;
  border: 1.5px solid var(--stroke-accent-light);
  border-radius: 8px;
  padding: 10px 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--text-accent-default);
  transition: background-color 0.4s ease-in-out;
}
.box-questions__btn-all:focus, .box-questions__btn-all:focus-visible {
  outline: none;
}
.box-questions__btn-all:focus-visible, .box-questions__btn-all:hover, .box-questions__btn-all:active {
  background-color: var(--component-accent-secondary-hover);
}

@media (max-width: 767px) {
  .box-questions__top-box {
    gap: 8px;
    margin: 0;
    margin-bottom: 32px;
  }
}
.question {
  display: flex;
  flex-direction: column;
}
.question__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  width: 100%;
  min-height: 64px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-neutral-darker);
  transition: color 0.4s ease-in-out;
}
.question__btn.active svg {
  transform: rotate(180deg);
}
.question__btn.active + .question__box-answer {
  display: block;
}
.question__btn svg {
  transition: transform 0.4s ease-in-out;
}
.question__btn:focus, .question__btn:focus-visible {
  outline: none;
}
.question__btn:focus-visible, .question__btn:hover, .question__btn:active {
  color: var(--text-accent-default);
}
.question__box-answer {
  display: none;
}
.question__desc {
  padding-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--text-neutral-dark);
}

@media (max-width: 767px) {
  .question__btn {
    min-height: 60px;
    font-size: 14px;
  }
  .question__desc {
    font-size: 14px;
  }
}
.box-order__content {
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--stroke-neutral-lighter);
  border-radius: 20px;
  padding: 48px;
  background-color: var(--surface-lighter);
  background-image: url("../img/box-order/1.png"), url("../img/box-order/2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top right;
}
.box-order__wrapp-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.box-order__wrapp-info.none {
  display: none;
}
.box-order__title {
  max-width: 410px;
}
.box-order__wrapp_form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.box-order__form {
  max-width: 350px;
  display: flex;
  border: 2px solid var(--stroke-positive-default);
  border-radius: 12px;
  padding: 4px;
  background-color: var(--background-normal);
  transition: border-color 0.4s ease-in-out;
}
.box-order__form:has(.box-order__label > input:focus) {
  border-color: var(--stroke-accent-darker);
}
.box-order__form:has(.box-order__label > input.error) {
  border-color: var(--stroke-negative-dark);
}
.box-order__form:has(.box-order__btn.disabled) {
  border-color: var(--stroke-neutral-lighter);
}
.box-order__label {
  flex: 1;
}
.box-order__label input {
  padding: 10px 12px;
  border: none;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--text-neutral-header);
}
.box-order__label input:focus, .box-order__label input:focus-visible {
  outline: none;
}
.box-order__btn {
  display: flex;
  border-radius: 8px;
  padding: 10px 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--text-neutral-lightest);
  background-color: var(--component-accent-primary-default);
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
.box-order__btn:focus, .box-order__btn:focus-visible {
  outline: none;
}
.box-order__btn:focus-visible, .box-order__btn:hover, .box-order__btn:active {
  background-color: var(--component-accent-primary-hover);
}
.box-order__btn.disabled {
  pointer-events: none;
  color: var(--disabled-text--stroke);
  background-color: var(--disabled-frame--stroke-light);
}
.box-order__desc {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: var(--text-neutral-darker);
}
.box-order__desc a {
  display: block;
  color: var(--text-accent-default);
  transition: color 0.4s ease-in-out;
}
.box-order__desc a:focus, .box-order__desc a:focus-visible {
  outline: none;
}
.box-order__desc a:focus-visible, .box-order__desc a:hover, .box-order__desc a:active {
  color: var(--text-neutral-darker);
}
.box-order__shipped.none {
  display: none;
}

@media (max-width: 767px) {
  .box-order__content {
    position: relative;
    border-radius: 16px;
    min-height: 260px;
    padding: 24px;
    align-items: start;
    justify-content: space-between;
    background-image: url("../img/box-order/3.png"), url("../img/box-order/4.png");
  }
  .box-order__wrapp-info {
    position: absolute;
    inset: 24px 24px;
    justify-content: space-between;
    align-items: start;
  }
  .box-order__label input {
    max-width: 169px;
  }
  .box-order__title {
    max-width: 100%;
  }
  .box-order__shipped {
    position: absolute;
    inset: 24px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box-order__shipped p {
    max-width: 200px;
    text-align: center;
  }
}
.box-hero {
  padding-top: 156px;
}
.box-hero__content {
  max-width: 670px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}
.box-hero__top-wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.box-hero .marker-main {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  padding: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  line-height: 123%;
  color: var(--text-accent-default);
  backdrop-filter: blur(6px);
  background-color: var(--component-accent-secondary-default-800);
}
.box-hero__title-main {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  line-height: 117%;
  text-align: center;
  color: var(--text-neutral-header);
}
.box-hero__title-main span:last-child {
  color: var(--text-accent-default);
}
.box-hero__desc {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--text-neutral-dark);
}
.box-hero__bottom-wrapp .search1__form {
  gap: 8px;
}
.box-hero__bottom-wrapp .search1__label {
  border: 2px solid var(--stroke-accent-dark);
  border-radius: 12px;
  padding: 14px 34px;
  background-color: var(--background-normal);
}
.box-hero__bottom-wrapp .search1__submit {
  border-radius: 12px;
  padding: 14px;
  display: flex;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 133%;
  color: var(--text-neutral-lightest);
  transition: background-color 0.4s ease-in-out;
  background-color: var(--component-accent-primary-default);
}
.box-hero__bottom-wrapp .search1__submit:focus, .box-hero__bottom-wrapp .search1__submit:focus-visible {
  outline: none;
}
.box-hero__bottom-wrapp .search1__submit:focus-visible, .box-hero__bottom-wrapp .search1__submit:hover, .box-hero__bottom-wrapp .search1__submit:active {
  background-color: var(--component-accent-primary-hover);
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.footer__top-box {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: start;
}
.footer__box-logo {
  display: flex;
}
.footer__top-centre {
  width: 100%;
  max-width: 285px;
  display: flex;
  justify-content: space-between;
}
.footer__nav2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__title-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--text-accent-default);
  transition: color 0.4s ease-in-out;
}
.footer__title-link:focus, .footer__title-link:focus-visible {
  outline: none;
}
.footer__title-link:focus-visible, .footer__title-link:hover, .footer__title-link:active {
  color: var(--text-neutral-button-default-dark);
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__list a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--text-neutral-button-default-dark);
  transition: color 0.4s ease-in-out;
}
.footer__list a:focus, .footer__list a:focus-visible {
  outline: none;
}
.footer__list a:focus-visible, .footer__list a:hover, .footer__list a:active {
  color: var(--text-accent-default);
}
.footer__top-end .footer__nav2 {
  align-items: end;
}
.footer__top-end .footer__list {
  align-items: end;
}
.footer__bottom-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__group-network {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: end;
}
.footer__network-link {
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid var(--stroke-accent-light);
  border-radius: 8px;
  transition: border-color 0.4s ease-in-out;
}
.footer__network-link:focus, .footer__network-link:focus-visible {
  outline: none;
}
.footer__network-link:focus-visible, .footer__network-link:hover, .footer__network-link:active {
  border-color: var(--text-neutral-button-default-dark);
}
.footer__bottom-line {
  border-top: 1px solid var(--stroke-neutral-lighter);
  padding-top: 16px;
  padding-bottom: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.footer__bottom-line p {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: var(--text-neutral-dark);
}
.footer__bottom-line-list {
  display: flex;
  gap: clamp(5px, 2vw, 58px);
  align-items: center;
}
.footer__bottom-line-list a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: var(--text-neutral-button-default);
  transition: color 0.4s ease-in-out;
}
.footer__bottom-line-list a:focus, .footer__bottom-line-list a:focus-visible {
  outline: none;
}
.footer__bottom-line-list a:focus-visible, .footer__bottom-line-list a:hover, .footer__bottom-line-list a:active {
  color: var(--text-neutral-dark);
}
.footer .footer-fixed {
  display: none;
}

@media (max-width: 1030px) {
  .footer__top-box {
    gap: 48px;
    flex-direction: column;
  }
  .footer__top-centre {
    max-width: 100%;
    gap: 50px;
    flex-wrap: wrap;
  }
  .footer__nav2 {
    white-space: nowrap;
  }
  .footer__top-end {
    display: none;
  }
  .footer__bottom-box {
    border-top: 1px solid var(--stroke-neutral-lighter);
    padding-top: 20px;
    padding-bottom: 108px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer__group-network {
    align-items: end;
  }
  .footer__bottom-line {
    padding: 0;
    border: none;
    flex-direction: column-reverse;
    align-items: start;
    gap: 20px;
  }
  .footer__bottom-line-list {
    flex-direction: column-reverse;
    align-items: start;
    gap: 10px;
  }
  .footer .footer-fixed {
    padding: 16px 0;
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 2;
    box-shadow: 0 0 16px 0 rgba(9, 8, 28, 0.1);
    background-color: var(--background-normal);
  }
  .footer .footer-fixed__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  .footer .footer-fixed__btn {
    padding: 10px 14px 10px 10px;
    display: flex;
    gap: 2;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: var(--component-accent-primary-default);
  }
  .footer .footer-fixed__btn .text {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 13px;
    line-height: 123%;
    color: var(--text-neutral-lightest);
  }
  .footer .footer-fixed__btn:focus, .footer .footer-fixed__btn:focus-visible {
    outline: none;
  }
  .footer .footer-fixed__box-btn-info-group .header__btn-info-group {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .footer__content {
    position: relative;
  }
  .footer__top-centre {
    flex-direction: column;
    gap: 30px;
  }
  .footer__bottom-box {
    justify-content: start;
  }
  .footer__group-network {
    position: absolute;
    right: 0;
    top: 80px;
  }
}